

div #wrapper{
  margin: 0 auto;
  padding:0px 40px;
  
}


section.round{

}

#locationName{
  padding:0 0 0 60px;
  font-size:20px;
}

#compensation{
  float:left;
}

#information{
  padding: 0 0 0 400px;
}

#views, #response{
  float:left;
  padding:0 10px;
}

div #description{
  padding:0px 20px 0 30px ;
}

input{
  height: 150px;
  width: 500px;
}

