<%if signed_in?%>
  <table class = "front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class = "micropost"><%= "Your posts"%></h1>
        <%=render 'shared/feed'%>
      </td>
      <td class = "sidebar round">
        <%=render 'shared/user_info'%>
      </td>
     
      
    </tr>
    
    
    
    
    
    
  </table>


<%else%>
<h1>Welcome</h1>
<p>Check out my fake twitter app! To play around as admin, use admin@admin.com for email and password for pw.</p>

<%= link_to "sign up now!", signup_path, :class => "signup_button round"%>
<%end%>
